# Overrides settings.toml

ENV_FOR_DYNACONF = "development"
DYNACONF_TELEGRAM_TOKEN = "TELEGRAM_TOKEN"

DYNACONF_DB_ADDRESS = "mongodb://127.0.0.1"
DYNACONF_DB_USERNAME = "dasbot"
DYNACONF_DB_PASSWORD = "dasbot"

DYNACONF_MODE = "webhook"
DYNACONF_WEBHOOK_SECRET = "WEBHOOK_SECRET"
DYNACONF_WEBHOOK_HOST = "https://webhook.example.com"
DYNACONF_WEBHOOK_PATH = "/"
DYNACONF_WEBAPP_HOST = "0.0.0.0"
DYNACONF_WEBAPP_PORT = 8080

DYNACONF_BROADCAST = true
