version: "2"
services:

  mongo:
    image: mongo:latest
    container_name: dasbot_mongo
    restart: always
    ports:
      - "127.0.0.1:27017:27017"

  dasbot:
    image: wetterkrank/dasbot:latest
    container_name: dasbot_app
    links:
      - mongo
    depends_on:
      - mongo
    restart: always
    env_file: .env
    logging:
      driver: json-file
      options:
          max-file: "5"
          max-size: "10m"
