/* Custom styles below */

.screenshot {
    max-height: 40em;
}

.lead {
    color: #45A8E8;
}

.telegram-button {
    background-color: #45A8E8;
    position: relative;
    padding-left: 1.6em;
}
.bi-telegram {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0.8em;
    transform: translate(-50%, -50%);
}

p {
    font-size: larger;
}

@media (min-width: 1600px) {
    html {
        font-size: 1.1em;
    }
}
@media (min-width: 2000px) {
    html {
        font-size: 1.2em;
    }
}

.container {
  max-width: 1140px;
  margin: auto;
}

svg#bot-icon {
  height: 90px;
  width: auto;
}
